@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

$primary: black;
$secondary : rgb(212, 212, 212);
$third : #6e199c;
$fourth : #5b2ab5;
$fifth : #00a1ff;
$menuTopHeight: 5em;

* {
	font-family: 'Righteous', cursive;
	font-size: 12px;
}