@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

$color_1: #000000;
$color_2: #cf7500;
$color_3: #f0a500;
$color_4: #f4f4f4;

* {
	font-family: 'Noto Sans HK', sans-serif;
}